app = "ellty-assignment-2"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[mounts]]
  source = "data"
  destination = "/app/data"
  initial_size = "1gb"

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1
