# fly.toml app configuration file generated for ellty-assignment-2 on 2025-11-24T10:03:53Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ellty-assignment-2'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
